<br>
<br>
<h3>Hotel Hunter</h3>
<p>Is a leading provider of hotel accommodation worldwide, offering booking services through its own network of
 localised websites and telephone call centres.Hotel Hunter gives travellers one of the widest selections of accommodation on 
 the net, including both independent and major chain hotels as well as self-catering in over 240,000 properties worldwide.
 The company offers a one-stop shopping source for hotel pricing, amenities and availability and also specialises in providing
 travellers with accommodation during sold-out periods.</p>
 <br>
<br>
<p><b>Please Sign in To Access This Website</b></p>
<p>If You Dont Have An Account Please Click Click The Link Below</p>
<%= link_to 'New User', new_user_path %>